.enjoy {
  background-image: url('../../public//Decore-text.svg');
  background-repeat: no-repeat;
  background-position-y: 85%;
  background-size: 130%;
  width: 220px;
  display: inline-flex;
  justify-content: center;
}